body {
  background-image: url("../images/background.png");
  background-repeat: repeat-x;
}
.menu {
  background: none repeat scroll 0 0 transparent;
}
header {
  
}
header .navbar-nav > li > a {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}
header .nav > li a:hover {
  background: none repeat scroll 0 0 #f6c105 !important;
  border-radius: 10px 0;
}
header .nav > .active{
  border-top: 5px solid yellow;
}
header .nav > li {
    padding: 5px;
}
header .dropdown-menu > li > a{

}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
  background-color: transparent !important;
}
header .dropdown-menu > li > a:hover {
  background: none repeat scroll 0 0 #f6c105 !important: ;
  border-radius: 0px !important;
  line-height: 20px;
  color: white;
}
header .navbar-toggle .icon-bar{
background: white;
}
header .navbar-toggle{
	  border: 1px solid white;
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img{
	width: 100% !important;
}
.slider{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
/*---------------------------end slider----------------*/
/*---------------------------begin left-bar----------------*/
.wrap-content {
  background: none repeat scroll 0 0 white;
  margin-top: 10px;
}
.content-body {
  margin-top: 10px;
}
.center-title {

}
.panel-default > .panel-heading {
  background-color: #5592c6;
  border-color: #ddd;
  color: white;
  font-family: Helvetica;
  font-weight: bold;
  text-transform: uppercase;
}
.travel-news {
  margin-top: 10px;
}
.travel-news a {
  color: black;
  font-family: Arial;
  font-size: 12px;
  text-align: justify;
  text-decoration: none;
}
.travel-news a:hover {
  color: #5592C6;
  font-weight: bold;
}
/*---------------------------end left-bar----------------*/
/*---------------------------content-tour-middle----------------*/
.tour {
  padding-left: 0;
  padding-right: 0;
}
.list-tour img.quay {
    border: 5px solid #fff;
    box-shadow: 0 0 5px #bbb;
    overflow: hidden;
    transition: all 1s ease 0s;
}
.list-tour img.quay:hover {
    border-radius: 10%%;
    transform: rotate(360deg);
}
.list-tour .caption{

}
.infomation {
  color: highlight;
  font-weight: bold;
}
.list-tour .btn-default {
  background: none repeat scroll 0 0 mediumaquamarine;
  color: white;
  font-weight: bold;  
}
.list-tour .btn-default:hover{
background: #f6c105;
}
.list-tour {
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
  padding-top: 10px;
}
.detail {
  color: white;
}
.detail:hover {
color: #f6c105 ;
}
/*liên hệ*/
.contact{}
.contact .input-group{
  margin:10px 0px;
}
.contact .input-group .form-control{
  font-size:14px;
}
.menu-title {
  font-size: 14px;
  color: green;
}
.menu-title a {
  font-size: 14px;
  color: green;
}
.contact-title{
  color: #5FBA7C;
  text-transform:uppercase;
  margin:15px auto;
}
/*css tin tức*/
.news{
}
.new-items{
  margin-bottom:20px;
  border-bottom:1px solid #BBB;
  padding-bottom:10px;
  
}
.news .images-tintuc {
  width: 40%;
}

.news .images-tintuc img {
  width: 100%;
  max-height:72px;
}
.news .img-description {
  width: 57%;
 
}
.news .img-description h4 {
  font-size: 15px;
  padding: 0px;
  margin-top:0px;
  margin-bottom:8px;
  height:32px;
  overflow:hidden;

}
.news .img-description h4 a {
  color: #5592c6;
  font-size: 15px;
  text-align: justify;
  text-decoration: none;
}
.news .img-description h4 a:hover{
  color: #f6c105;
}
.news-left h1 a:hover{
  text-decoration: none;
  color: #f6c105;
}
.news .img-description p{
  font-size:13px;
  color:#BBB
}
.news-left{}
.news-left img {
  width: 100%;
}
.news-left h1 {
  font-size: 22px;
  text-align: left;
}
.news-left h1 a {
  font-size: 16px;
  text-align: justify;
}
.news-left p {
  font-size: 14px;
  text-align: justify;
}
.news .img-description .description{}
.news .img-description .description p {
  text-align: justify;
}
/*css chi tiết tin tức*/
.chitiettin{
	width:600px;
}
.chitiettin .new-title {
  color: #5592c6;
  font-size: 18px;
  margin: 0 0 15px;
}
.chitiettin .new-detail{}
.chitiettin .new-detail img{

  margin:10px 0px;
}
.chitiettin .new-detail p{
  text-align:justify;
}
.list-items-news{
  margin-bottom:15px;
}
#tin-lien-quan{
  text-transform:uppercase;
}
.img-lienquan{
  width:40%
}
.img-lienquan img{
  width:100%;
  max-height:88px;
}
p.lienquan{
  width:55%;
}
/*-------------css chi tiết tin tức -----*/
.list-news{
      border-bottom: 1px solid #cecece;
    padding-bottom: 20px;
    padding-top: 20px;
}
.title {
  font-family: Helvetica;
  font-size: 16px;
  text-decoration: none;
}
/*--------------------css dat tour-----------------*/
.form-horizontal .control-label{
  text-align: left;
}
.btn-thanhtoan {
  text-align: center;
}
/*---------------------------end content-tour-middle----------------*/
/*footer*/
footer {
  background: url("../images/bg-footer.png") repeat-x scroll 0 0 / 100% auto transparent;
  height: 160px;
}
address {
  font-style: normal;
  line-height: 1.42857;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px 2px 2px yellow;
}
/*-----------------------end footer------------------------ */
.backtotop{

}